NEXT_PUBLIC_SUPABASE_URL=https://dadtorrtahknyhaybcac.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhZHRvcnJ0YWhrbnloYXliY2FjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDcxODcsImV4cCI6MjA5NjY4MzE4N30.NH7m7vRjZBUKhePvn-YtddxTfXqvLTcdLhxe9kXx7Fg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhZHRvcnJ0YWhrbnloYXliY2FjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEwNzE4NywiZXhwIjoyMDk2NjgzMTg3fQ.Ex5Rc9JyA-hqP7Mn-70Mp4_TrfL8hVFRKbE0-Polbqc
DATABASE_URL=postgresql://postgres:Toluwase2020@db.dadtorrtahknyhaybcac.supabase.co:5432/postgres
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1
