NEXT_PUBLIC_SUPABASE_URL=https://dadtorrtahknyhaybcac.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=replace-with-your-supabase-service-role-key
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.dadtorrtahknyhaybcac.supabase.co:5432/postgres
NEXT_PUBLIC_APP_URL=https://your-vercel-domain.vercel.app
NEXT_TELEMETRY_DISABLED=1
